<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Elliot Systems Pvt Ltd Application Test Automation Test Suite">
  
  <listeners>
		<listener class-name="com.qa.ExtentReportListner.ExtentReportListner" />
	</listeners>

  
  <test thread-count="5" name="Elliot Systems Test">
    <classes>
      <class name="com.ell.qa.testcases.HomePageTest"/>
      <class name="com.ell.qa.testcases.LoginPageTest"/>
       <class name="com.ell.qa.testcases.SettingsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
